.header-banner{
  size: 4em

}
 .img-logo{
  margin-left: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 2em;
  width: 2em;
 }
 .wrapper-img {
   background: rgb(0, 0, 0);
   size: 4em;
 }